body {
    margin: 0;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #181D31;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #F2E7D5;
    /* background: linear-gradient(#6C4AB6, #8D72E1, #8D9EFF);
    opacity: .5; */
}

.clock {
    display: flex;

}

.clock div {
    margin: 10px;
    position: relative;

}

.clock span {
    background: #fff;
    display: flex;
    color: #000;
    opacity: .6;
    padding: 5px;
    width: 100px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.clock,
#text {
    height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}

/* .am {
    width: 50px;
    height: 20px;
    background-color: red;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-left: 370px;
    border: 20px;
    margin-top: 25px;
} */